<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Get meta object and put it meta tags with ejs templating -->
<title><%= meta.title %> | LAMP</title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="linear algebra, multiplayer, projection, expressjs, project">
<meta name="author" content="William V.">
<meta name="robots" content="index, follow">
<meta name="og:title" content="<%= meta.title %> | LAMP">
<meta name="og:description" content="<%= meta.description %>">
<meta name="og:image" content="https://lamp.williamvongphanith.com/png/og.png">
<meta name="og:url" content="<%= meta.url %>">
<meta name="og:site_name" content="<%= meta.siteTitle %>">
<meta name="og:type" content="<%= meta.type %>">
<meta name="og:author" content="<%= meta.author %>">
<meta name="og:locale" content="<%= meta.locale %>">
<meta name="og:locale:alternate" content="<%= meta.localeAlternate %>">
<meta name="twitter:card" content="<%= meta.twitterCard %>">
<meta name="twitter:site" content="<%= meta.twitterSite %>">
<meta name="twitter:creator" content="<%= meta.twitterCreator %>">
<meta name="twitter:title" content="<%= meta.pageTitle %>">
<meta name="twitter:description" content="<%= meta.description %>">
<meta name="twitter:image" content="<%= meta.image %>">
<meta name="twitter:url" content="<%= meta.url %>">
<meta name="twitter:domain" content="<%= meta.domain %>">
<meta name="theme-color" content="#3b82f6">